# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*egg-info

# From nox build
build
_build
.nox

# pytest
.pytest_cache

# Potential auth keys
.github.auth

# Visual Studio Code
.vscode

src/risb/version.py

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Backup and copy files
*copy.py
*Copy.py
*(Normal).py
*(non-para*).py
*(para*).py
